body {
  background-color: blanchedalmond;
  font-size: 0.5em;
  width: 1000px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  background-color: rgb(250, 255, 255);
  border: 1px solid ;
}

.header{
  background-color: antiquewhite ;
}