.source , .view {
  display: inline-block;
}

.box {
  border: 1px solid;
}

/*classとid*/
#div2 #red {
  color: red;
}
#div2 .para {
  color: blue;
}

/*CSSをまとめる*/
#div3 .para {
  font-weight: bold;
}
#div3 .red{
  color: red;
}
#div3 .blue{
  color: blue;
}
#div3 .green{
  color: green;
}

/*2-4：特殊なセレクタ*/
#div4 .green > span{
  color: green;
}

#div4 h2 + p {
  background-color: rgba(255, 255, 0, 0.31);
}

#div4 h2 ~ p {
  font-style: oblique;
}

/*2-5：属性セレクタ*/
